.title {
    color: '#404471';
    font-weight: 'bold';
}

.mintButton {
    width: 150;
    height: 50;
    border-radius: 25;
    background-color: "#F7623F";
    margin-top: '2.5%';
    margin-bottom: '10%';
    color: 'white';
    border: 'none';
}

.uploadImgDiv {
    padding: 20;
    margin: 'auto';
}

.uploadContentDiv {
    border: '2px solid black';
    padding: 50;

}

.dragFileText {
    margin-bottom: '15%';
}

.inputName {
    margin-bottom: '5%';
    width: '100%';
    padding: 12;
    border-radius: 25;
    border: '1px solid grey';
}

.inputPrice {
    margin: '5%';
    width: '50%';
    padding: 12;
    border-radius: 25;
    border: '1px solid grey';
}

.form {
    margin-top: '5%';
}

.info {
    color: '#404471';
    margin-top: '-4.5%';
    margin-left: '4.5%';
    font-weight: 'bold';
}

.label {
    color: '#404471';
    font-weight: 'bold';
    margin-bottom: '2%';
}